body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    color: #707070;
    line-height: 1.6rem;
}
/* ナビパート */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

nav span {
    font-size: 1rem;
}

nav .navbar_left {
    display: flex;
    flex-direction: column;
}

.navbar_each a {
    text-decoration: none;
    color: #707070;
}

.navbar_each a:visited {
    color: #707070;
}

/* ナビから下 */
.contents {
    margin-bottom: 35px;
    display: grid;
    grid-gap: 70px;
}

/* タイトルとタイトル画像 */
.title h3 {
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.title .title_dscrptn {
    margin-bottom: 28px;
}

.title .contents_title {
    margin-bottom: 28px;
    margin-right: auto;
    margin-left: auto;
    max-width: 370px;
}

.contents_title img {
    width: 100%;
}

.title p {
    margin-top: 0;
    margin-bottom: 28px;
}

.title a {
    text-decoration: none;
    color: #707070;
}

.title a:visited {
    color: #707070;
}

/* ここからプロセス全てに効くスタイル*/
.process_each h3 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 8px
}

.process_each .process_dscrptn {
    margin-top: 0;
    margin-bottom: 20px;
}


/* プロセス１配色 */
.process_each .color_palette {
    display: flex;
    justify-content: space-between;
    max-width: 370px;
    margin: 0 auto;
}

.color_palette .color_1 {
    font-size: 42px;
    color: #00CC88;
}

.color_palette .color_2 {
    font-size: 42px;
    color: #FFA9AF;
}

.color_palette .color_3 {
    font-size: 42px;
    color: #FF4273;
}

.color_palette .color_4 {
    font-size: 42px;
    color: #FFB800;
}

.color_palette .color_5 {
    font-size: 42px;
    color: #3C62F8;
}

/* プロセス２ リフェレンス*/
.process_each .process_reference {
    margin-bottom: 20px;
}

.process_reference a:visited {
    color: #707070;
}

/* プロセス３全体 */ 
.process_3 .process_title {
    margin: 0;
}

.process_3 .illustration_all{
    display: grid;
    grid-gap: 50px;
}

div .illstrtn_each_sec {
    display: grid;
    grid-gap: 50px;
}

.illstrtn_each_title p {
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}

/* プロセス３のイラスト */
/* アイコン以外のイラスト */
.illstrtn_each_sec .img_each {
    max-width: 370px;
}

.img_each img {
    width: 100%;
}

/* プロセス３のアイコン */
.icons .icons_sec {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
}

.icons_sec .icons-each {
    max-width: 165px;
}

.icons-img img{
    width: 100%;
}

/* aside */
.contact {
    display: flex;
    grid-gap: 35px;
    justify-content: center;
}

.contact .contact-button {
    border: 2px solid #555;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 370px;
}

.contact a {
    text-decoration: none;
    color: #707070;
}

.contact a:visited {
    color: #707070;
}

/* other works */
.otherworks p {
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}

.otherworks .otherworks-img {
    display: grid;
    grid-gap: 35px;
}

.otherworks-img .otherworks-img-each {
    max-width: 370px;
    margin: 0 auto;
}

.otherworks-img-each img {
    width: 100%;
    outline: 2px solid white;
    transition: 0.2s ease-out;
}

.otherworks-img-each img:hover {
    outline: 2px solid #555;
    transition: 0.2s ease;
}


/* フッター */
footer {
    display: flex;
    flex-direction: column;
}

footer div{
    font-size: 1rem;
    margin: 0 auto 10px auto;
}

.sns_icons a {
    color: #707070;
}

.sns_icons a:visited {
    color: #707070;
}

.sns_icons .instagram:hover {
    color: #e1306c;
    transition: 0.25s ease;
}

.sns_icons .mail:hover {
    color: #477EBA;
    transition: 0.25s ease;
}

footer p {
    margin: 0 auto;
}

/* tablet size  */
@media screen and (min-width:769px) {
    body {
        margin: 25px;
    }

    nav span {
        font-size: 1.25rem;
    }

    .title .contents_title {
        margin-right: auto;
        margin-left: auto;
    }

    .illstrtn_each_sec .img_each {
        margin: 0 auto;
    }

    div .grid_columns_3 {
        grid-template-columns: repeat(3, 1fr); 
    }

    div .grid_columns_2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .icons .icons_sec {
        justify-items: center;
    }

    .otherworks .otherworks-img {
        grid-template-columns: repeat(2, 1fr);
    }

    
    .member_intro .member_intro-image {
        max-width: 320px;
    }

    .member_intro p {
        text-align: center;
    }

    .search p {
        text-align: center;
    }

    footer div {
        font-size: 1.25rem;
    }

    footer p {
        font-size: 1.25rem;
    }
}

/* bigger than pc */
@media screen and (min-width:1024px) {
    body {
        margin: 25px 40px;
    }

    .contents {
        margin: 0 150px;
        margin-bottom: 50px;
    }


    .illustration_all .topic_each {
        padding-right: 50px;
        padding-left: 50px;
    }

    .icons .icons_sec {
        grid-template-columns: repeat(3, 1fr);
    }


    .topic-icon img {
        margin-left: 30px;
    }

    .searchandmember_intro .member_intro {
        margin-left: 30px;
    }

    .otherworks .otherworks-img {
        justify-items: center;
    }
}